@charset "UTF-8";
/*************************************
MIXINS(ベンダープリフィックス)
*************************************/
/* line 19, ../sass/pur_cart.scss */
body {
  /* 画像ファイルの指定 */
  background-image: url(../images/purchase_images/body_img01.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #222;
}

/* line 40, ../sass/pur_cart.scss */
div#pankuzu-list {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
/* line 44, ../sass/pur_cart.scss */
div#pankuzu-list p {
  margin-top: 40px;
  padding: 15px 60px;
  color: #FFF;
  border: solid 1px #575757;
  background-color: #575757;
  position: relative;
}
/* line 52, ../sass/pur_cart.scss */
div#pankuzu-list p:first-child {
  color: #FFF;
  background-color: #4343d1;
  border: solid 1px #4343d1;
}
/* line 58, ../sass/pur_cart.scss */
div#pankuzu-list p:first-child:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -23px;
  right: 50%;
  left: 50%;
  border: 12px solid transparent;
  border-top: 12px solid #4343d1;
}

/* line 77, ../sass/pur_cart.scss */
div#cart {
  max-width: 90%;
  min-height: 450px;
  margin: 40px auto 0 auto;
  background-color: rgba(65, 65, 65, 0.8);
  position: relative;
}
/* line 84, ../sass/pur_cart.scss */
div#cart h1 {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  position: relative;
  padding: 25px 40px 20px 0;
  border-bottom: dashed 2px #FFF;
}
/* line 90, ../sass/pur_cart.scss */
div#cart h1:after {
  border-top: 5px solid #4343d1;
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
/* line 101, ../sass/pur_cart.scss */
div#cart h1 p {
  color: #FFF;
  font-size: 20px;
  margin: 10px 0 0 10px;
}
/* line 107, ../sass/pur_cart.scss */
div#cart h1 img {
  margin-right: 10px;
}
/* line 113, ../sass/pur_cart.scss */
div#cart div#cartitem_row {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  padding: 20px;
  border-bottom: solid 1px #fff;
}
/* line 119, ../sass/pur_cart.scss */
div#cart .cartitem_cell {
  color: #FFF;
}
/* line 122, ../sass/pur_cart.scss */
div#cart .cartitem_cell.cartitem_name {
  width: 35%;
}
/* line 126, ../sass/pur_cart.scss */
div#cart .cartitem_cell.cartitem_price {
  width: 25%;
}
/* line 130, ../sass/pur_cart.scss */
div#cart .cartitem_cell.cartitem_num {
  width: 15%;
}
/* line 134, ../sass/pur_cart.scss */
div#cart .cartitem_cell.cartitem_subtotal {
  width: 15%;
}
/* line 138, ../sass/pur_cart.scss */
div#cart .cartitem_cell.cartitem_del {
  width: 10%;
}
/* line 143, ../sass/pur_cart.scss */
div#cart .cartcontents_row {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  padding: 20px;
}
/* line 147, ../sass/pur_cart.scss */
div#cart .cartcontents_row .cartcontents_cell {
  color: #FFF;
}
/* line 150, ../sass/pur_cart.scss */
div#cart .cartcontents_row .cartcontents_cell.cartcontents_name {
  width: 35%;
}
/* line 154, ../sass/pur_cart.scss */
div#cart .cartcontents_row .cartcontents_cell.cartcontents_price {
  width: 25%;
}
/* line 158, ../sass/pur_cart.scss */
div#cart .cartcontents_row .cartcontents_cell.cartcontents_num {
  width: 15%;
}
/* line 162, ../sass/pur_cart.scss */
div#cart .cartcontents_row .cartcontents_cell.cartcontents_subtotal {
  width: 15%;
}
/* line 166, ../sass/pur_cart.scss */
div#cart .cartcontents_row .cartcontents_cell.cartcontents_del {
  width: 10%;
}
/* line 174, ../sass/pur_cart.scss */
div#cart a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
/* line 179, ../sass/pur_cart.scss */
div#cart a:hover {
  color: #F00;
}
/* line 183, ../sass/pur_cart.scss */
div#cart a#del {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* line 192, ../sass/pur_cart.scss */
div#btn {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin-top: 20px;
}
/* line 197, ../sass/pur_cart.scss */
div#btn a {
  margin: 0 20px;
  text-decoration: none;
}
/* line 201, ../sass/pur_cart.scss */
div#btn a#back_btn {
  width: 30%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
}
/* line 211, ../sass/pur_cart.scss */
div#btn input#next_btn {
  background-color: #4343d1;
  text-align: center;
  border: none;
  box-sizing: border-box;
  color: #fff;
  height: 40px;
  line-height: 40px;
  width: 30%;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
/* line 222, ../sass/pur_cart.scss */
div#btn input#next_btn:hover {
  background-color: #8787E9;
}
