/*************************************
MIXINS(ベンダープリフィックス)
*************************************/
@mixin set-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

//文字色
$color: #FFF;
$sub-color: #4343d1;

//文字の大きさ
$font-size: 20px;

body{
    /* 画像ファイルの指定 */
    background-image: url(../images/purchase_images/body_img01.jpg);

    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;

    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;

    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #222;
}

    //パンくずリスト
    div#pankuzu-list{
        @include set-prefix(display, flex);
        @include set-prefix(justify-content, center);
        
        & p{
            margin-top: 40px;
            padding: 15px 60px ;
            color: $color;
            border: solid 1px #575757;
            background-color: #575757;
            position: relative;
            
            &#arrow{
                color: #FFF;
                background-color: $sub-color;
                border: solid 1px $sub-color;
                
                //三角形
                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    bottom: -23px;
                    right: 50%;
                    left: 50%;
                    border: 12px solid transparent;
                    border-top: 12px solid #4343d1;
                }
                
            }
            
        }
        
    }

    //お客様情報の入力の内容
    div#member{
        max-width: 90%;
        min-height: 400px;
        margin: 40px auto 0 auto;
        background-color: rgba(65,65,65,0.80);
        
        & h1{
            @include set-prefix(display, flex);
            position: relative;
            padding: 25px 40px 20px 0;
            border-bottom: dashed 2px #FFF;
            
            &:after{
                border-top: 5px solid $sub-color;
                content: '';
                display: block;
                height: 0;
                left: 0;
                position: absolute;
                top: 0;
                width: 50%;
            }
            
            & p{
                color: $color;
                font-size: $font-size;
                margin: 10px 0 0 10px;
            }
            
            & img{
                margin-right: 10px;
            }
            
        }
        
        & section#end{
            width: 80%;
            margin: 20px auto;
            
            & p{
                text-align: center;
                color: $color;
            }
        }
        
    }

    div#btn{
        @include set-prefix(display, flex);
        @include set-prefix(justify-content, center);
        margin-top: 20px;
        margin-bottom: 20px;
        
        & a{
            margin: 0 20px;
            text-decoration: none;
            
            &#back_btn{
                background-color: $sub-color;
                text-align: center;
                border: none;
                box-sizing: border-box;
                color: #fff;
                height: 40px;
                line-height: 40px;
                width: 30%;
                @include set-prefix(transition, background-color 0.3s linear);

                &:hover{
                    background-color: #8787E9;

                }
            
            }
        
        }
        
    }
